body{
    padding: 0;
    margin: 0;
}
.main{

}
.headlogo{
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    display: block;
    background: url("img/headlogo.png") repeat-x;
}
.jumbotron {
    background: grey;
}