mainColor=#323251
secondColor=#74707f
thirdColor=#585d84
fourthColor=#ead27f
fifthColor=#776a58

@keyframes scaleDown {
  from {
    opacity: 0;
    transform: scale(1) translateX(-100%)
  }
  to {
    opacity: 1;
    transform scale(1) translateX(0)
  }
}

html
  background #dc9d64 url('../img/grecha-texture.jpg')
  font bold 16px Arial, Helvetica, sans-serif
  margin 0
  padding 0

body
  margin 0
  padding 0

a
  color #000000
  text-decoration none

.container
  margin 0 auto
  width 950px


.grachi_logo
  background url('../img/grachi-logo.svg') no-repeat top left
  display block
  left 50%
  position fixed
  top 0
  height 300px
  margin-left -150px
  width 300px
  &.small
    height 80px
    margin-left -40px
    width 80px



header
  background #b8d1e5 url('../img/sky-texture.jpg')
  margin 0
  padding 0

main
  background #feffff
  margin 0
  padding 10px 30px

footer
  margin 0
  padding 0

.clear
  ::after
    content ''
    display table
    clear both



.header
  ul
    font-size 0px
    list-style none
    margin 0
    padding 0
  li
    display inline-block
    font-size 36px
    line-height 40px
    vertical-align top
  a
    color #010101
    display block
    padding 60px 80px
    text-decoration none
    &:hover
      background rgba(230,230,230,0.3)
      text-shadow: 0 0 40px #999999
  .left
    float left
    width 300px
    text-align center
  .right
    float right
    width 300px
    text-align center