<section *ngIf="player">
    <div class="player_image">
        <img src="src/img/pic/{{player.imgpath}}.jpg" alt="NOT FOUND"/>
    </div>
    <div class="player_detail">
        <div class="player_detail_head">
            <p>{{player.name}}</p>
        </div>
        <div>
            <label>name: </label>
            <label>{{player.firstname}} {{player.lastname}}</label>
        </div>
        <div>
            <img src="http://csgo-stats.com/{{player.steam.split('/')[1]}}/graphic.png" />
        </div>
        <div>
            <a target="_blank" href="https://steamcommunity.com/{{player.steam}}">STEAM</a>
        </div>
        <div>
            <button (click)="goBack()">Back</button>
        </div>
        <div id="id01"></div>


    </div>
</section>